<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.repository.CategoryMapper">
    <insert id="saveCategory" parameterType="org.example.domain.Category">

        INSERT INTO category (largeCategory, mediumCategory, smallCategory,
                            productName,startDate,endDate,productQuantity,productAmount)
        VALUES(#{largeCategory},#{mediumCategory},
            #{smallCategory},#{productName},
            #{startDate}, '29991231',
            #{productQuantity},#{productAmount})

    </insert>


    <select id="selectAllCategory" resultType="org.example.domain.Category">

        SELECT largeCategory, mediumCategory, smallCategory,
                startDate, endDate, productName, productQuantity, productAmount
        FROM category

    </select>

    <select id="selectByCategory" parameterType="java.lang.String" resultType="org.example.domain.Category">

        SELECT largeCategory, mediumCategory, smallCategory, productName,
                startDate, endDate, productQuantity, productAmount
        FROM category
        WHERE mediumCategory = #{mediumdata}

    </select>

    <update id="updateCategory" parameterType="org.example.domain.Category">

        UPDATE category
        SET endDate = DATE_FORMAT(STR_TO_DATE(#{modify.startDate},'%Y%m%d')-1, '%Y%m%d')
        WHERE productName = #{origin.productName}
          and endDate = '29991231'

    </update>

    <select id="selectforConfirm" parameterType="org.example.domain.Category" resultType="org.example.domain.Category">

        SELECT largeCategory, mediumCategory, smallCategory, productName,
                startDate, endDate, productQuantity, productAmount
        FROM category
        WHERE largeCategory = #{largeCategory}
          and mediumCategory = #{mediumCategory}
          and smallCategory = #{smallCategory}
          and productName = #{productName}
          and startDate = #{startDate}
          and endDate = #{endDate}

    </select>

    <delete id="deleteCategory" parameterType="org.example.domain.Category">

        DELETE FROM category
        WHERE largeCategory = #{largeCategory}
          and mediumCategory = #{mediumCategory}
          and smallCategory = #{smallCategory}
          and productName = #{productName}
          and startDate = #{startDate}
          and endDate = #{endDate}

    </delete>


    <select id="findSmallCategory" parameterType="java.util.Map" resultType="org.example.domain.Category">

        SELECT startDate, endDate, largeCategory, mediumCategory, smallCategory, productName, productQuantity,productAmount
        FROM category
        WHERE largeCategory = '매출' and productName = #{productName} and #{date} between startDate and endDate

    </select>
</mapper>